<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  Vous devez vous connecter !<br />
  <ion-button (click)="login()">
    Connexion
  </ion-button>
</ion-content>
