<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Tâches
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/create']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let task of tasks$ | async" [routerLink]="['/task', task.id]">
      {{ task.title }}
    </ion-item>
  </ion-list>
</ion-content>